{{ define "main" }}
	<main>
		{{ if .Params.location }} <!-- if it is an event -->
		<article class="article-split">
			<div class="article-right">
				<h3>When?</h3>
				{{ if .Params.time }}
					<p>{{ .Params.time }}</p>
				{{ end }}
				<p>
					{{ .Date.Format "January 2, 2006" }}
				</p>

				<h3>Where?</h3>
				<p>{{ .Params.location }}</p>
			</div>
			<div class="article-left">
				<h1>{{ .Title }}</h1>
				<div>
					{{ .Content }}
				</div>
			</div>
		</article>
		{{ else }} <!-- if it is a newsletter -->
		<article>
			<h2>Newsletter: {{ .Date.Format "January 2, 2006" }}</h2>
			<div>
				{{ .Content }}
			</div>
		</article>
		{{ end }}
	</main>
{{ end }}
