{% if site.theme_specific.rss %}
<li>
	<a target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.theme_specific.str_rss_follow }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{% endif %}

{% if site.theme_specific.email_address %}
<li>
	<a target="_blank" href="mailto:{{ site.theme_specific.email_address }}" title="{{ site.theme_specific.str_email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}

{% if site.theme_specific.slack %}
<li>
	<a target="_blank" href="https://{{ site.theme_specific.slack }}.slack.com" title="Join the community on slack">
		<i class="fa fa-fw fa-slack"></i>
	</a>
</li>
{% endif %}

{% if site.theme_specific.facebook %}
<li>
	<a target="_blank" href="https://www.facebook.com/{{ site.theme_specific.facebook }}" title="{{ site.theme_specific.str_follow_on }} Facebook">
		<i class="fa fa-fw fa-facebook"></i>
	</a>
</li>
{% endif %}

{% if site.theme_specific.github %}
<li>
	<a target="_blank" href="https://github.com/{{ site.theme_specific.github }}" title="{{ site.theme_specific.str_follow_on }} GitHub">
		<i class="fa fa-fw fa-github"></i>
	</a>
</li>
{% endif %}

{% if site.theme_specific.twitter %}
<li>
	<a target="_blank" href="https://twitter.com/{{ site.theme_specific.twitter }}" title="{{ site.theme_specific.str_follow_on }} Twitter">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{% endif %}

{% if site.theme_specific.youtube %}
<li>
	<a target="_blank" href="https://www.youtube.com/user/{{ site.theme_specific.youtube }}" title="{{ site.theme_specific.str_follow_on }} YouTube">
		<i class="fa fa-fw fa-youtube"></i>
	</a>
</li>
{% endif %}
