@media only screen and (max-width: 1050px) {

    html {
        font-size: 13pt;
    }

    body {
        margin: 0;
        padding: 17px;
    }

    div.wrapper {
        width: 100%;
    }

    div.split {
        display: block;
    }

    div.split figure {
        margin: 0;
        text-align: center;
    }

    div.split figure img {
        width: 100%;
        max-width: 500px;
    }

    div.committee-member {
        width: 50%;
    }
    
    div.committee-member img {
        width: 100%;
    }

}

@media only screen and (max-width: 620px) {
    
    div.wrapper {
        margin-top: 20px;
    }

    header {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    header div.divider {
        display: none;
        border: none;
    }

    header nav {
        width: 100%;
    }

    header a.large {
        display: block;
        width: 100%;
    }

    header nav ul li {
        margin-bottom: 10px;
    }

    main {
        margin-top: 0;
    }

    footer {
        grid-template-columns: 50% auto;
        gap: 25px;
    }

    div.footer-left {
        grid-column-start: span 2;
    }

    div.footer-mid {
        grid-row: 2;
        grid-column: 1;
    }

    div.footer-right {
        grid-row: 2;
        grid-column: 2;
    }
    
    div.committee-member {
        width: 100%;
    }

    

}