html {
    background-color: #131313;
    font-size: 14pt;
}

* {
    color: #A9A9A9;
    font-family: 'Charis SIL', serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Code Pro', monospace;
    color: #019E18;
    margin-bottom: 10px;
}

p {
    line-height: 1.4em;
    margin-top: 12px;
    font-weight: 400;
}

p:first-child {
    margin-top: 0;
}

p.quote {
    color: #929292;
    border-left: 3px solid #505050;
    padding-left: 15px;
    font-size: 0.85em;
    font-style: italic;
}

code {
    font-family: 'Source Code Pro', monospace;
}

div.wrapper {
    width: 1000px;
    margin: auto;
    margin-top: 90px;
    left: 0;
    right: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

header div.divider {
    display: inline-block;
    height: 150px;
    width: 2px;
    border: none;
    background-color: #3d3d3d;
}

header img {
    color: transparent;
}

header nav {
    display: inline-block;
}

header ul {
    padding: 0;
    list-style: none;
}

header ul a {
    text-decoration: none;
    color: #019E18;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 15pt;
}

header ul a:hover {
    text-decoration: underline;
}

header ul a.large {
    font-size: 27pt;
    font-weight: 900;
    color: #1a1a1a;
    background-color: #019E18;
    padding-left: 5px;
    padding-right: 5px;
}

main {
    margin-top: 50px;
}

div.split {
    display: grid;
    margin-bottom: 50px;
}

div.split figure {
    margin: 0;
}

div.text-left {
    grid-template-columns: 55% auto;
    grid-template-rows: auto auto;
}

div.text-left figure {
    margin-left: 25px;
    grid-row: 2;
    grid-column: 2;
}

div.text-left h1 {
    grid-row: 1;
    grid-column: 1;
}

div.text-left div {
    grid-row: 2;
    grid-column: 1;
}

div.text-right {
    grid-template-columns: auto 55%;
    grid-template-rows: auto auto;
}

div.text-right figure {
    margin-right: 25px;
    grid-row: 2;
    grid-column: 1;
}

div.text-right h1 {
    grid-row: 1;
    grid-column: 2;
}

div.text-right div {
    grid-row: 2;
    grid-column: 2;
}

div.split img {
    width: 100%;
}

div.split figcaption {
    color: #6d6d6d;
    font-family: 'Source Code Pro', monospace;
    font-size: 10pt;
    margin-top: 2px;
}

ul.news-list, ul.event-list {
    list-style: none;
    padding-left: 15px;
}

time {
    color: #636363;
}

article.newsletter time {
    display: block;
    text-align: right;
    margin-bottom: 20px;
}

article.newsletter img {
    width: 65%;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

article li {
    margin-bottom: 10px;
}

article p {
    font-family: serif;
}

article * {
    font-size: 1rem;
}

article h1:first-child {
    font-size: 28pt;
    margin-bottom: 15px;
}

p.no-events {
    color: #636363;
    font-size: 0.9rem;
    margin: 0;
    margin-left: 15px;
}

a {
    font-weight: bold;
    color: #8ba88f;
}

article.event {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 25px
}

article.event h1:first-child {
    font-weight: 900;
}

article.event h1:first-child,
article.event h2:first-child {
    margin-top: 0;
}

footer {
    display: grid;
    grid-template-columns: auto 150px 150px;
    gap: 75px;
    margin-bottom: 50px;
    margin-top: 50px;
    border-top: 2px solid #303030;
    padding-top: 30px;
}

footer * {
    color: #636363;
    font-size: 0.8rem;
}

footer a {
    color: #777777;
}

footer p {
    margin: 0;
    margin-bottom: 2px;
}

footer h2 {
    margin-top: 0;
}

p.small {
    font-size: 0.85em;
}

p.small * {
    font-size: 1em;
}

div.calendar-container {
    overflow-x: auto;
    background-color: #313131;
    padding: 10px;
    margin-bottom: 20px;
}

table#calendar {
    width: 100%;
    margin-top: 10px;
    border-spacing: 0;
    border-collapse: collapse;
}

table#calendar thead td {
    padding: 0;
    color: rgb(182, 182, 182);
    font-family: 'Source Code Pro', monospace;
    padding: 5px;
    width: 14.2%;
    padding-bottom: 15px;
}

table#calendar td.day {
    padding: 8px;
    height: 125px;
    font-size: 0.9em;
    vertical-align: top;
    border: 1px solid #505050;
    background-color: #3a3a3a;
}

table#calendar div.date {
    color: #b6c9b8;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    padding-left: 5px;
    margin-left: -5px;
    margin-right: -5px;
}

table#calendar div.event {
    font-weight: bold;
    padding-top: 5px;
}

table#calendar div.time {
    color: rgb(158, 158, 158);
}

table#calendar div.today {
    background-image: url("/img/today.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

table#calendar tbody tr {
    height: 80px;
}

div.calendar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.calendar-nav div {
    font-family: 'Source Code Pro', monospace;
    cursor: pointer;
    color: #8ba88f;
    user-select: none;
    text-align: center;
}

#calendar-left {
    margin-left: 0;
    margin-right: auto;
    width: 100px;
}

#calendar-month {
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    font-size: 1.5em;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

#calendar-right {
    margin-right: 0;
    margin-left: auto;
    width: 100px;
}

a.back {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 15px;
    color: #6d6d6d;

}

a.rest {
    font-size: 0.8em;
    display: block;
    padding-top: 10px;
}

div.pagination {
    margin-top: 20px;
}

div.committee-photos {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    row-gap: 30px;
}

div.committee-member {
    width: 90%;
    padding: 10px;
}

div.committee-member img {
    width: 100%;
}

div.committee-member h2.name {
    margin-bottom: 0;
}

div.committee-member h3.role {
    margin-top: 0;
    margin-bottom: 0;
    color: #A9A9A9;
    font-family: 'Charis SIL', serif;
    font-weight: normal;
    line-height: 1.1em;
    font-style: italic;
}

div.committee-member ul.socials {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
