<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2023">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2023">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2023">
	<link rel="manifest" href="/site.webmanifest?v=2023">
	<link rel="mask-icon" href="/safari-pinned-tab.svg?v=2023" color="#0bbb27">
	<link rel="shortcut icon" href="/favicon.ico?v=2023">
	<meta name="msapplication-TileColor" content="#00a300">
	<meta name="theme-color" content="#1a1a1a">

	<title>HackSoc - {{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<script src="/js/index.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	<link href="https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/mobile.css" | relURL }}">
	<meta name="cf-2fa-verify" content="4d804eec7c1a905">
</head>
<body onload="loadCalendar()">
	<div class="wrapper">
		{{ partial "header" . }}
		{{ block "main" . }}{{ end }}
		{{ partial "footer" . }}
	</div>
</body>
</html>
