<footer>
	<div class="footer-left">
		<p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
		<p>Website by Zac Garby and contributors. Feel free to submit a <a href="https://github.com/HackSocNotts/hacksocnotts.github.io">pull request</a>, or raise an issue if there are any problems!</p>
		<br>
		<p>
			<img src="/img/logo.svg" height="60px" alt="">
		</p>
		<br>
		<p class="small">
			HackSoc is a part of the <a href="https://su.nottingham.ac.uk">University of Nottingham Students' Union</a>.
		</p>
	</div>
	<div class="footer-mid">
		<h2>USEFUL LINKS</h2>
		<p>
			<a href="https://github.com/hackSocNotts/">Our GitHub</a>
		</p>
		<p>
			<a href="https://hacksocnotts.co.uk/code-of-conduct/">Code of Conduct</a>
		</p>
		<p>
			<a href="https://github.com/HackSocNotts/constitution/releases">Constitution</a>
		</p>
		<p>
			<a href="https://hacksoc.net/discord">Discord</a>
		</p>
		<p>
			<a href="https://su.nottingham.ac.uk/societies/society/hack/">UoN SU Page</a>
		</p>
		<p>
			<a href="https://hacknotts.com">HackNotts</a>
		</p>
	</div>
	<div class="footer-right">
		<h2>SITEMAP</h2>
		<p>
			<a href="/">Home</a>
		</p>
		<p>
			<a href="/calendar">Calendar</a>
		</p>
		<p>
			<a href="/contact">Contact Us</a>
		</p>
		<p>
			<a href="/events">All Events</a> +
			<a href="/events/index.json">JSON</a>
		</p>
		<p>
			<a href="/newsletters">All Newsletters</a>
		</p>
		<p>
			<a href="/committee">Committee</a> +
			<a href="https://hacksocnotts.co.uk/committee-archive/">Archive</a>
		</p>
	</div>
</footer>
