<div class="calendar-nav">
    <div id="calendar-left" onclick="changeMonth(-1)"></div>
    <div id="calendar-month" onclick="resetMonth()"></div>
    <div id="calendar-right" onclick="changeMonth(+1)"></div>
</div>
<table id="calendar">
    <thead>
        <tr>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thursday</td>
            <td>Friday</td>
            <td>Saturday</td>
            <td>Sunday</td>
        </tr>
    </thead>
    <tbody id="calendar-tbody">
    </tbody>
</table>
<div class="middle-link">
    <a href="/events/index.ics">Events as ICS (for Outlook &c.)</a>
</div>
